<div class="about">
  <form [formGroup]="aboutForm" (ngSubmit)="submitForm()">
    <div>
      <label for="name">Name :</label>
      <input type="text" name="name" formControlName="name" required="required">
    </div>
    <div>
      <label for="surname">Surname:</label>
      <input type="text" name="surname" formControlName="surname" required="required">
    </div>
    <div>
      <label for="surname">Gender:</label>
      <label>
        <input type="radio" name="gender" formControlName="gender" value="male">
        Male
      </label>
      <label>
        <input type="radio" name="gender" formControlName="gender" value="female">
        Female
      </label>
    </div>
    <div>
      <input type="submit" [disabled]="aboutForm.invalid">
      <input type="submit" value="getUserForm" (click)="getUserForm($event)">
    </div>
  </form>
</div>